@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Montserrat Alternates', sans-serif;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


.navbar {
  font-family: 'Montserrat Alternates', sans-serif;
}
.navbar .navbar-collapse {
  text-align: center;
}

.jumbotron {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.jumbotron .profil img {
  height: 100px;
  height: 100px;
  border-radius: 20%;
}


.jumbotron .profil {
  display: flex;
  justify-content: center;
}

.jumbotron .tombol a {
  border-radius: 18px;
  padding: 5px 20px;
  margin-top: 20px;
  background-color: black;
  color: white;
  outline: none;
  box-shadow: none;
}

.jumbotron .tombol a:hover {
  background-color: white;
  color: black;
  border: solid 1px black;
  transition: 1s;
}

.tentang {
  background-color: rgba(255, 255, 255, 0.978);
  height: 300px;
  margin-top: 30px;
}

.tentang .btn {
  padding: 3px 5px;
  outline: none;
  box-shadow: none;
}

.carousel .item {
  height: 300px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.school {
  padding: 15px;
}

.school h3 {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
}

.carousel-item {
  border-radius: 10px;
} 

.carousel {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
}

.carousel-caption{
  opacity:0;
  transition:500ms ease-in-out;
  font-family: 'Montserrat Alternates', sans-serif;
}
.carousel-item:hover .carousel-caption{
  opacity:1;
}
.carousel-item:hover {
  opacity: 0.8;
  transition:500ms ease-in-out;
}

.footer {
  text-align: center;
  font-family: 'Montserrat Alternates', sans-serif;
  margin-top: 40px;
}


#more {display: none;}


@media screen and (max-width: 680px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: white;
  }
  
}